In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "Santoshkyn14@"
        )
if(mydb):
    print("Connection Sucessful")
else:
    print("Connection Unsucessful")

Connection Sucessful

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor

In [5]:
mycursor.execute("CREATE DATABASE Mark1")

In [6]:
mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "Santoshkyn14@",
        database = "Mark1"
        )
if(mydb):
    print("Connection Successful")
else:
    print("Connection Unsucessful")

Connection Successful

In [7]:
mycursor = mydb.cursor()

In [8]:
mycursor.execute("CREATE TABLE Result(ID int NOT NULL AUTO_INCREMENT , Name VARCHAR(255) , English int NOT NULL, Physics int NOT NULL, Chemistry int NOT NULL, Maths int NOT NULL, Total int NOT NULL, Percentage FLOAT(10) , Comment VARCHAR(50), PRIMARY KEY (ID))")

In [9]:
mycursor.execute("SHOW TABLES")

In [10]:
for i in mycursor:
    print(i)

('Result',)

In [11]:
def insert_fn_db(name , eng , phy, chem , maths , total , per, comment):
    insert_db = "INSERT INTO Result (Name , English , Physics , Chemistry , Maths , Total , Percentage , Comment) VALUES (%s, %s , %s , %s , %s , %s , %s , %s)"
    mycursor.execute(insert_db,(name, eng, phy, chem, maths, total, per, comment))

In [12]:
def calculate():
    name = str(input("Enter the name of the student = "))
    english = int(input("Enter the marks of English = "))
    physics = int(input("Enter the marks of Physics = "))
    chemestry = int(input("Enter the marks of Chemistry = "))
    maths = int(input("Enter the marks of Maths = "))
    total = english + physics + chemestry + maths
    percentage = (total*100)/400
    percentage = round(percentage, 2)
    if(english < 36 or physics < 36 or chemestry < 36 or maths < 36):
        comment = "Fale"
        percentage = None
    else:
        comment = "Pass and Promoted"
    print(name , english , physics , chemestry , maths , total , percentage , comment)
    insert_fn_db(name , english , physics , chemestry , maths , total, percentage , comment)

In [13]:
def main():
    time = int(input("Enter the number of students you want to enter the data = "))
    for i in range(time):
        calculate()
    mydb.commit()

# Output

In [15]:
main()

Enter the number of students you want to enter the data = 5
Enter the name of the student = Santosh Saxena
Enter the marks of English = 72
Enter the marks of Physics = 82
Enter the marks of Chemistry = 70
Enter the marks of Maths = 92
Santosh Saxena 72 82 70 92 316 79.0 Pass and Promoted
Enter the name of the student = Mukesh Saxena
Enter the marks of English = 72
Enter the marks of Physics = 92
Enter the marks of Chemistry = 72
Enter the marks of Maths = 62
Mukesh Saxena 72 92 72 62 298 74.5 Pass and Promoted
Enter the name of the student = Muskan Mohan
Enter the marks of English = 0
Enter the marks of Physics = 0
Enter the marks of Chemistry = 0
Enter the marks of Maths = 0
Muskan Mohan 0 0 0 0 0 None Fale
Enter the name of the student = Harsh Mahalle
Enter the marks of English = 62
Enter the marks of Physics = 72
Enter the marks of Chemistry = 62
Enter the marks of Maths = 34
Harsh Mahalle 62 72 62 34 230 None Fale
Enter the name of the student = Shrey Savalia
Enter the marks of English = 72
Enter the marks of Physics = 92
Enter the marks of Chemistry = 84
Enter the marks of Maths = 95
Shrey Savalia 72 92 84 95 343 85.75 Pass and Promoted